<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="filename">./logs</Property>
    </Properties>

    <Appenders>

        <RollingFile name="file"
                     fileName="${filename}/logs.Log"
                     append="false"
                     filePattern="${filename}/Log-%d{HH-mm-ss-SSS}.Log">
            <PatternLayout
                    pattern="[%-5level][%d{yyyy-MM-dd HH:mm:ss}][%t] %msg%n"/>
            <SizeBasedTriggeringPolicy size="16 KB" />
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level][%d{yyyy-MM-dd HH:mm:ss}][%t] %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Logger name="ru.belgy.polshchikov" level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Root level="fatal">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>

</Configuration>